<div class="container">
    <div class="upload-container">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload
        onchange="console.log(event.target.files)" accept="image/*">
    <div class="file-upload">
        <span class="file-name">{{fileName || noFile}}</span>
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
    </div>
    <div class="image-container">
        <img src="" alt="No image selected">
        <canvas class="canvas" #canvas width=600 height=400></canvas>
    </div>
    <div class="result-container">
        <p class="success" *ngIf="result">{{data}}{{result}}</p>
        <p class="error" *ngIf="!result && file">{{failure}}</p>
    </div>
</div>